.cartItems {
  list-style: none;
  margin: 0;
  padding: 0;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
  gap: 20px;
}
.buttonAlt {
  color: red;
  border: 1px solid red;
  background-color: white;
  border-radius: 20px;
  width: 10%;
  height: 4vh;
  margin: 1rem 0;
}

.btn {
  border-radius: 20px;
  background: red;
  color: white;
  border: 1px solid white;
  width: 10%;
  height: 4vh;
}
